tqdm
matplotlib
seaborn
japanize-matplotlib
scipy
statsmodels
scikit-learn
scikit-image
jupyter==1.0.0
jupyterlab==3.5.2
lightgbm
xgboost==1.6.0
opencv-python
opencv-contrib-python
ffmpeg-python
pyvis
ipyplot
torchsummary
tabulate
ptitprince
matplotlib-venn
albumentations
albumentations[imgaug]
datasets
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu117
sentencepiece
transformers==4.28.1
timm
segmentation-models-pytorch==0.2.0
grad-cam
ttach
lightly
librosa==0.9.1
colorednoise
catboost
tokenizers==0.12.1
tez
scrapy==1.6.0
imblearn
faiss-gpu
spacy
nltk